<div class="container">
    <div class="banner">
    </div>
    <div class="how-start-play">
        <div class="welcome-msg">
            <h2>Getting started is easy</h2>
        </div>
        <div class="rows">
            <div class="row-1">
                <img src="img/elements/create_an_account.png" alt="create account">
                <p class="section">
                    <span class="red">1.</span> Create an account
                </p>
                <p class="description">Simple registration. You'll be playing in no time</p>
            </div>
            <div class="row-2">
                <img src="img/elements/claim-your-welcome-bonus.png" alt="welcome bonus">
                <p class="section">
                    <span class="red">2.</span> Claim your bonus
                </p>
                <p class="description">Get rewarded for making your first deposit</p>
            </div>
        </div>
        <button class="registration-btn">
            <a class="registration-btn-href" href="/signup">Sign up</a>
        </button>
    </div>
    <div class="already-have-account-div">
        <div class="columns">
            <p class="section">Already have an account?</p>
            <img class="experienced-player" src="img/azartnye_oboi.jpg" alt="experienced player">
            <button class="signin-btn">
                <a class="signin-btn-href" href="/signin">Sign in</a>
            </button>
        </div>
    </div>
    <div class="results-div">
        <div class="columns">
            <p class="section">TOP scores</p>
            <img class="top-scores" src="img/ChampionsClub.png" alt="champions">
            <button class="view-results-btn">
                <a class="view-results-btn-href" href="/results">View TOP scores</a>
            </button>
        </div>
    </div>

</div>
<!--<div ng-include src="'view/fragments/footer.html'"></div>-->


