<!--<div ng-include src="'view/fragments/header.html'"></div>-->
<div class="container">
    <div class="signup-div">
        <div class="columns">
            <p class="section">Simple registration</p>
            <img class="registration-img" src="img/register.jpg" alt="registration image">
            <div class="form-control">
                <p class="form-field">Login:</p>
                    <input type="text" class="login-field" id="email"/>
                <p class="form-field">Password:</p>
                    <input type="password" class="password-field" id="password"/>
            </div>
            <button class="signup-btn">
                <a class="registration-btn-href" href="/home">Ok</a>
            </button>
        </div>
    </div>
</div>
<!--<div ng-include src="'view/fragments/footer.html'"></div>-->
