<div class="container">
    <div class="signin-div">
        <div class="columns">
            <p class="section">Sign in</p>
            <img class="signin-img" src="img/signin-img.jpg" alt="signin image">
            <div class="form-control">
                <p class="form-field">Login:</p>
                <input type="text" class="login-field" id="email"/>
                <p class="form-field">Password:</p>
                <input type="password" class="password-field" id="password"/>
            </div>
            <button class="signin-btn">
                <a class="signin-btn-href" href="/home">Ok</a>
            </button>
        </div>
    </div>
</div>


<!--<div class="container">
    <div class="signin-div">
        <div class="columns">
            <p class="section">Sign in</p>
            <img class="registration-img" src="img/registration.png" alt="registration image">

            <button class="registration-btn">
                <a class="registration-btn-href" href="/home">Ok</a>
            </button>
        </div>
    </div>
</div>-->

