<!DOCTYPE html>
<html ng-app="pokerApp" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Poker+</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="all.css" rel="stylesheet" media="screen"/>
    <script type="application/javascript" src="vendor/jquery.min.js"></script>
    <script type="application/javascript" src="vendor/angular.min.js"></script>
    <script type="application/javascript" src="vendor/angular-route.min.js"></script>
    <base href="/">
</head>

<body>
<div th:replace="fragments/header :: header">Header</div>
<ng-view/>
<script type="application/javascript" src="/js/all.js"></script>
<div th:replace="fragments/footer :: footer">&copy; 2016 DmytroDev</div>

</body>
</html>