<link href="style.css" rel="stylesheet" media="screen"/>
<div id="table" class="table"></div>
<div class="players">
    <div id ="player1" class="hand">
        <h3>Player 1</h3>
    </div>
    <div id ="player2" class="hand">
        <h3>Player 2</h3>
    </div>
</div>


<!--

<div class="container">
    <h2>from PLAY page</h2>

&lt;!&ndash;    <div class="signin-div">
        <div class="columns">
            <p class="section">Sign in</p>
            <img class="signin-img" src="img/signin-img.jpg" alt="signin image">
            <div class="form-control">
                <p class="form-field">Login:</p>
                <input type="text" class="login-field" id="email"/>
                <p class="form-field">Password:</p>
                <input type="password" class="password-field" id="password"/>
            </div>
            <button class="signin-btn">
                <a class="signin-btn-href" href="/home">Ok</a>
            </button>
        </div>
    </div>&ndash;&gt;
</div>-->
